@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <table class="highlight centered">
        <br />
        <thead>
            <tr>
                <th>Producto y capacidad</th>
                <th>Color</th>
                <th>Medidas</th>
                <th>Grupo</th>
                <th>Linea</th>
                <th>Estado</th>
                <th>Stock</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bowl Creativa</td>
                <td>Rojo</td>
                <td>35 x 35 x 30 cm</td>
                <td>Preparar</td>
                <td>Creativa</td>
                <td>--</td>
                <td>1</td>
                <td><i class="small material-icons">mode_edit</i></td>
                <td><i class="small material-icons">delete</i></td>
            </tr>
        </tbody>
    </table>
</div>

