@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <table class="highlight centered">
        <br />
        <thead>

            <tr>
                <th>Nombre del cliente</th>
                <th>Domicilio</th>
                <th>Contacto</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>Xavier Mazzotti</td>
                <td>Julian Alvarez 334 2A</td>
                <td>1159197257</td>
                <td><i class="small material-icons">mode_edit</i></td>
                <td><i class="small material-icons">delete</i></td>
            </tr>
        </tbody>
    </table>
</div>



