@model IList<Data.Sale>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <table class="highlight centered">
        <br />
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Producto y capacidad</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model)
            {
                <tr>
                    <td>@sale.Client</td>
                    <td>@sale.ProductAndCapacity</td>
                    <td>@sale.Units</td>
                    <td>@sale.Date</td>
                    <td><a href="/Sale/Edit/@sale.Id"><i class="small material-icons">mode_edit</i></td>
                    <td><a href="/Sale/Delete/@sale.Id"><i class="small material-icons">delete</i></td>
                </tr>
            }
        </tbody>
    </table>
</div>


