@{
    ViewBag.Title = "Home Page";
}



<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="nav-background">

        <div class="parallax"><img src="~/Content/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">shopping_cart</i></h2>
                    <div class="center">
                        <a href="~/Store/Index" class="waves-effect waves-light btn">Quiero comprar</a>
                    </div>
                    <p class="light">
                        ¿Te gustaría tener tu propio negocio, que se cumplan tus sueños y te conviertas en una mujer independiente y llena de confianza? Con Tupperware tendrás está oportunidad.
                        Queremos que te superes todos los días, que seas tu propia jefa y manejes tus horarios con la flexibilidad que desees, que esta sea una oportunidad para crecer y desarrollarte.
                        Creemos que una mujer que tiene confianza en sí misma tiene el poder de cambiar su realidad y la de otras. Nuestras Revendedoras forman una cadena de mujeres empoderadas, la llamamos “Chain of Confidence”.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 style="font-size:70px" class="handwritten header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/background2.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">subscriptions</i></h2>
                    <div class="center">
                        <a class="waves-effect waves-light btn">Videos demostracion</a>
                    </div>
                    <p class="light">
                        ¿Te gustaría tener tu propio negocio, que se cumplan tus sueños y te conviertas en una mujer independiente y llena de confianza? Con Tupperware tendrás está oportunidad.
                    </p>
                </div>
            </div>
            <div class="col s4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">favorite</i></h2>
                    <div class="center">
                        <a class="waves-effect waves-light btn">Recetas</a>
                    </div>
                    <p class="light">
                        ¿Te gustaría tener tu propio negocio, que se cumplan tus sueños y te conviertas en una mujer independiente y llena de confianza? Con Tupperware tendrás está oportunidad.
                    </p>
                </div>
            </div>
            <div class="col s4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">local_florist</i></h2>
                    <div class="center">
                        <a class="waves-effect waves-light btn">Caracteristicas especiales</a>
                    </div>
                    <p class="light">
                        ¿Te gustaría tener tu propio negocio, que se cumplan tus sueños y te conviertas en una mujer independiente y llena de confianza? Con Tupperware tendrás está oportunidad.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="handwritten row center">
               <h5 color="#FFFFFF" style="font-size:70px" class="handwritten header col s12 light">Handwritten</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/background3.jpg" alt="Unsplashed background img 3"></div>
</div>