@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Características especiales";
}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="section">
                <div class="col s12">
                    <div class="card  horizontal">
                        <div class="card-image">
                            <img src="https://www.tupperware.com.ar/assets/images/mediacenter-images/006909-3552-0003_rdax_220x140.png">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">
                                    Libre de BPA
                                </span>
                                <p>
                                    Tupperware® cuida el tesoro más preciado: la familia, ofreciendo productos de altísima calidad que permiten cocinar, transportar y conservar alimentos en forma segura y saludable.
                                    Todos los productos Tupperware® específicamente diseñados para bebés y niños son LIBRES DE BISFENOL-A (BPA).
                                    <br />• Todos nuestros productos están autorizados para contener alimentos.
                                    <br />• Líderes mundiales en este rubro, aprobados por los principales Organismos de Salud del Mundo.
                                    <br />• Riguroso proceso de fabricación, además de usar materias primas 100% puras, los pigmentos son orgánicos, utilizados especialmente en la Industria Alimenticia.
                                    <br />• Los productos son diseñados exclusivamente para cada uso específico, con materiales idóneos para mantener los alimentos en óptimas condiciones de sabor, color y textura.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/background1.jpg" alt="Unsplashed background img 1" style="transform: translate3d(-50%, 404.594px, 0px); opacity: 1;"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">shopping_cart</i></h2>
                    <div class="center">
                        <a class="waves-effect waves-light btn">Quiero comprar</a>
                    </div>
                    <p class="light">
                        ¿Te gustaría tener tu propio negocio, que se cumplan tus sueños y te conviertas en una mujer independiente y llena de confianza? Con Tupperware tendrás está oportunidad.
                        Queremos que te superes todos los días, que seas tu propia jefa y manejes tus horarios con la flexibilidad que desees, que esta sea una oportunidad para crecer y desarrollarte.
                        Creemos que una mujer que tiene confianza en sí misma tiene el poder de cambiar su realidad y la de otras. Nuestras Revendedoras forman una cadena de mujeres empoderadas, la llamamos “Chain of Confidence”.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
