@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Características especiales";
}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="section">
                <div class="col s12">
                    <div class="card  horizontal">

                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">
                                    Libre de BPA
                                </span>
                                <p>
                                    Tupperware® cuida el tesoro más preciado: la familia, ofreciendo productos de altísima calidad que permiten cocinar, transportar y conservar alimentos en forma segura y saludable.
                                    Todos los productos Tupperware® específicamente diseñados para bebés y niños son LIBRES DE BISFENOL-A (BPA).
                                    <br />• Todos nuestros productos están autorizados para contener alimentos.
                                    <br />• Líderes mundiales en este rubro, aprobados por los principales Organismos de Salud del Mundo.
                                    <br />• Riguroso proceso de fabricación, además de usar materias primas 100% puras, los pigmentos son orgánicos, utilizados especialmente en la Industria Alimenticia.
                                    <br />• Los productos son diseñados exclusivamente para cada uso específico, con materiales idóneos para mantener los alimentos en óptimas condiciones de sabor, color y textura.
                                </p>
                            </div>
                        </div>
                        <div class="card-image">
                            <img src="https://www.tupperware.com.ar/assets/images/mediacenter-images/006909-3552-0003_rdax_220x140.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/SpecialFeatures_Background1.png" alt="Unsplashed background img 1" style="transform: translate3d(-50%, 404.594px, 0px); opacity: 1;"></div>
</div>
@* VALVULAS *@
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                @*<div class="card-panel teal">*@
                <blockquote>
                    <h3>VÁLVULAS</h3>
                    Es un dispositivo mecánico con el cual se puede iniciar, detener o regular el paso de aire, líquidos o gases.
                    <br /> Podés encontrar en productos para microondas y para heladera.
                </blockquote>           
                @*</div>*@
            </div>
        </div>
        <div class="section no-pad-bot">
            <div class="card  horizontal">
                <div class="card-image pull-right">
                    <img src="~/Content/Cristalwave_Valvula.png" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">
                            Línea Cristalwave
                        </span>
                        <p>
                            • Posee una válvula que debe ser levantada al calentar los productos en el microondas para la salida del vapor.
                            <br />• Permite que los alimentos tomen temperatura sin perder sus propiedades.
                        </p>
                        <a class="btn tooltipped btn-floating-B right-fab waves-effect waves-light red" data-position="left" data-tooltip="VER PRODUCTOS CON ESTA CARACTERÍSTICA"><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="card  horizontal">
                <div class="card-image pull-right">
                    <img src="~/Content/Valvula_Refri.jpg" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">
                            Línea Refri-Inteligente
                        </span>
                        <p>
                            •Las dos abiertas, mucho aire. (para conservar brócoli, arvejas, espinaca, choclos, envidias y alcauciles).
                            <br />• Una válvula abierta, aire moderado (ideal para frutas cítricas, lechuga, coliflor, puerro, rúcula, manzana y pera).
                            <br />• Las dos válvulas, poco aire (para conservar zanahorias, pepino, remolacha, rabanitos, cerezas, frutillas, uvas, y apio)
                        </p>
                        <a class="btn tooltipped btn-floating-B right-fab waves-effect waves-light red" data-position="left" data-tooltip="VER PRODUCTOS CON ESTA CARACTERÍSTICA"><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*SELLOS*@
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">

                    <blockquote>
                        <h3>SELLOS</h3>
                        Cada sello es diseñado de acuerdo con su recipiente, lo que hace que el producto sea hermético en su conjunto. 
                        <br /> diseñados con tecnología de punta y cuidados hasta el último detalle. Esto es lo que hace la diferencia entre nuestros productos, 
                        <br /> para cubrir necesidades específicas de almacenamiento y organización.
                    </blockquote>
                    @*<span class="card-title white-text">
            SELLOS
            <br />Los sellos son las tapas de los productos Tupperware. Se los llaman de esta manera ya que los mismos son herméticos.
        </span>*@
                </div>
            </div>
        </div>
        <div class="section no-pad-bot">
            <div class="card  horizontal">
                <div class="card-image pull-right">
                    <img src="~/Content/Redondo_Sello.png" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">
                            Clásico Redondo
                        </span>
                        <p>
                            • Los sellos redondos son 100% herméticos, ideales para conservar alimentos cocidos o secos que precisan evitar el contacto con el oxígeno.
                            <br />• Permiten transportar alimentos líquidos sin riesgos.
                        </p>
                        <a class="btn tooltipped btn-floating-B right-fab waves-effect waves-light red" data-position="left" data-tooltip="VER PRODUCTOS CON ESTA CARACTERÍSTICA"><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="card  horizontal">
                <div class="card-image pull-right">
                    <img src="~/Content/Modular_Sello.png" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">
                            Modulares redondos y ovales
                        </span>
                        <p>
                            • Sello 100% hermético.
                            <br />• Ideal para almacenar cereales y alimentos secos.
                        </p>
                        <a class="btn tooltipped btn-floating-B right-fab waves-effect waves-light red" data-position="left" data-tooltip="VER PRODUCTOS CON ESTA CARACTERÍSTICA"><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="card  horizontal">
                <div class="card-image pull-right">
                    <img src="~/Content/AprietaBoton_Sello.jpg" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">
                            Sello Aprieta Botón
                        </span>
                        <p>
                            • Sello 100% hermético para líquidos.
                            <br />• Apretar el botón de seguridad con el pulgar para abrir y cerrar herméticamente.
                        </p>
                        <a class="btn tooltipped btn-floating-B right-fab waves-effect waves-light red" data-position="left" data-tooltip="VER PRODUCTOS CON ESTA CARACTERÍSTICA"><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="card  horizontal">
                <div class="card-image pull-right">
                    <img src="~/Content/TM_Sello.jpg" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">
                            Toque mágico
                        </span>
                        <p>
                            • Presionar en el centro para colocar y retirar el sello.
                            <br />• El aire se expulsa automáticamente.
                        </p>
                        <a class="btn tooltipped btn-floating-B right-fab waves-effect waves-light red" data-position="left" data-tooltip="VER PRODUCTOS CON ESTA CARACTERÍSTICA"><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="card  horizontal">
                <div class="card-image pull-right">
                    <img src="~/Content/Fechador_sello.jpg" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">
                            Sistema Fechador
                        </span>
                        <p>
                            • Estos sellos cuentan con un moderno sistema fechador que indica la semana y el mes en que se congelaron los alimentos.
                            <br />• Este sistema sirve para saber el tiempo exacto que los alimentos llevan dentro del freezer,
                        </p>
                        <a class="btn tooltipped btn-floating-B right-fab waves-effect waves-light red" data-position="left" data-tooltip="VER PRODUCTOS CON ESTA CARACTERÍSTICA"><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="card  horizontal">
                <div class="card-image pull-right">
                    <img src="~/Content/Sensacion_Sello.png" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">
                            Toque mágico Decoret
                        </span>
                        <p>
                            • 100 % hermético, ideal para alimentos secos, cocidos y conservación en la heladera.
                            <br />• Sello instantáneo que expulsa el aire automáticamente.
                            <br />• Presionar en el centro para colocar.
                        </p>
                        <a class="btn tooltipped btn-floating-B right-fab waves-effect waves-light red" data-position="left" data-tooltip="VER PRODUCTOS CON ESTA CARACTERÍSTICA"><i class="material-icons">arrow_forward</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip({ delay: 100 });
    });
</script>