@model Data.Product
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

Esta seguro que desea eliminar el Producto @Model.Name?

<a href="/Product/DeleteConfirmation/@Model.Id" class="waves-effect waves-light btn col s6">Eliminar</a>
<a href="/Product/Index" class="waves-effect waves-light btn col s6">Cancelar</a>