@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <div class="row">
        <form class="col s12">
            <br />
            <div class="row">
                <div class="input-field col s3">
                    <input id="Producto" type="text" class="validate">
                    <label for="last_name">Nombre del producto</label>
                </div>
                <div class="input-field col s3">
                    <a class="waves-effect waves-light btn col s6"><i class="material-icons left">mode_edit</i>Editar</a>
                </div>
            </div>
        </form>
    </div>
</div>

