@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <table class="highlight centered">
        <br />
        <thead>
            <tr>
                <th>Nombre del producto</th>
                @*<th>Color</th>
                <th>Capacidad</th>
                <th>Medidas</th>
                <th>Grupo</th>
                <th>Linea</th>
                <th>Stock</th>*@
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bowl Creativa</td>
                <td><i class="small material-icons">mode_edit</i></td>
                <td><i class="small material-icons">delete</i></td>
            </tr>
        </tbody>
    </table>
</div>

